---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: fleet
    chart: fleet
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  name: fleet
  namespace: {{ .Release.Namespace }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: fleet
      chart: fleet
      component: fleet-server
      heritage: {{ .Release.Service }}
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: fleet
        chart: fleet
        component: fleet-server
        heritage: {{ .Release.Service }}
        release: {{ .Release.Name }}
    spec:
      containers:
      - name: fleet
        command: [/usr/bin/fleet]
        args: ["serve"]
        image: "{{ .Values.imageRepository }}:{{ .Values.imageTag }}"
        ports:
        - name: fleet
          containerPort: {{ .Values.fleet.listenPort }}
        resources:
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
        env:
          ## BEGIN FLEET SECTION
          - name: FLEET_VULNERABILITIES_DATABASES_PATH
            value: /tmp/vuln
          - name: FLEET_SERVER_ADDRESS
            value: "0.0.0.0:{{ .Values.fleet.listenPort }}"
          - name: FLEET_AUTH_BCRYPT_COST
            value: "{{ .Values.fleet.auth.bcryptCost }}"
          - name: FLEET_AUTH_SALT_KEY_SIZE
            value: "{{ .Values.fleet.auth.saltKeySize }}"
          - name: FLEET_APP_TOKEN_KEY_SIZE
            value: "{{ .Values.fleet.app.tokenKeySize }}"
          - name: FLEET_APP_TOKEN_VALIDITY_PERIOD
            value: "{{ .Values.fleet.app.inviteTokenValidityPeriod }}"
          - name: FLEET_SESSION_KEY_SIZE
            value: "{{ .Values.fleet.session.keySize }}"
          - name: FLEET_SESSION_DURATION
            value: "{{ .Values.fleet.session.duration }}"
          - name: FLEET_LOGGING_DEBUG
            value: "{{ .Values.fleet.logging.debug }}"
          - name: FLEET_LOGGING_JSON
            value: "{{ .Values.fleet.logging.json }}"
          - name: FLEET_LOGGING_DISABLE_BANNER
            value: "{{ .Values.fleet.logging.disableBanner }}"
          - name: FLEET_SERVER_TLS
            value: "{{ .Values.fleet.tls.enabled }}"
          {{- if .Values.fleet.tls.enabled }}
          - name: FLEET_SERVER_TLS_COMPATIBILITY
            value: "{{ .Values.fleet.tls.compatibility }}"
          - name: FLEET_SERVER_CERT
            value: "/secrets/tls/{{ .Values.fleet.tls.certSecretKey }}"
          - name: FLEET_SERVER_KEY
            value: "/secrets/tls/{{ .Values.fleet.tls.keySecretKey }}"
          {{- end }}
          ## END FLEET SECTION
          ## BEGIN MYSQL SECTION
          - name: FLEET_MYSQL_ADDRESS
            value: "{{ .Values.database.address }}"
          - name: FLEET_MYSQL_DATABASE
            value: "{{ .Values.database.database }}"
          - name: FLEET_MYSQL_USERNAME
            value: "{{ .Values.database.username }}"
          - name: FLEET_MYSQL_PASSWORD
            valueFrom:
              secretKeyRef:
                name: {{ .Values.database.secretName }}
                key: {{ .Values.database.passwordKey }}
          - name: FLEET_MYSQL_MAX_OPEN_CONNS
            value: "{{ .Values.database.maxOpenConns }}"
          - name: FLEET_MYSQL_MAX_IDLE_CONNS
            value: "{{ .Values.database.maxIdleConns }}"
          - name: FLEET_MYSQL_CONN_MAX_LIFETIME
            value: "{{ .Values.database.connMaxLifetime }}"
          {{- if .Values.database.tls.enabled }}
          {{- if .Values.database.tls.caCertKey }}
          - name: FLEET_MYSQL_TLS_CA
            value: "/secrets/mysql/{{ .Values.database.tls.caCertKey }}"
          {{- end }}
          {{- if .Values.database.tls.certKey }}
          - name: FLEET_MYSQL_TLS_CERT
            value: "/secrets/mysql/{{ .Values.database.tls.certKey }}"
          {{- end }}
          {{- if .Values.database.tls.keyKey }}
          - name: FLEET_MYSQL_TLS_KEY
            value: "/secrets/mysql/{{ .Values.database.tls.keyKey }}"
          {{- end }}
          - name: FLEET_MYSQL_TLS_CONFIG
            value: "{{ .Values.database.tls.config }}"
          - name: FLEET_MYSQL_TLS_SERVER_NAME
            value: "{{ .Values.database.tls.serverName }}"
          {{- end }}
          ## END MYSQL SECTION
          ## BEGIN REDIS SECTION
          - name: FLEET_REDIS_ADDRESS
            value: "{{ .Values.cache.address }}"
          - name: FLEET_REDIS_DATABASE
            value: "{{ .Values.cache.database }}"
          {{- if .Values.cache.usePassword }}
          - name: FLEET_REDIS_PASSWORD
            valueFrom:
              secretKeyRef:
                name: "{{ .Values.cache.secretName }}"
                key: "{{ .Values.cache.passwordKey }}"
          {{- end }}
          ## END REDIS SECTION
          ## BEGIN OSQUERY SECTION
          - name: FLEET_OSQUERY_NODE_KEY_SIZE
            value: "{{ .Values.osquery.nodeKeySize }}"
          - name: FLEET_OSQUERY_LABEL_UPDATE_INTERVAL
            value: "{{ .Values.osquery.labelUpdateInterval }}"
          - name: FLEET_OSQUERY_DETAIL_UPDATE_INTERVAL
            value: "{{ .Values.osquery.detailUpdateInterval }}"
          - name: FLEET_OSQUERY_STATUS_LOG_PLUGIN
            value: "{{ .Values.osquery.logging.statusPlugin }}"
          - name: FLEET_OSQUERY_RESULT_LOG_PLUGIN
            value: "{{ .Values.osquery.logging.resultPlugin }}"
          {{- if eq .Values.osquery.logging.statusPlugin "filesystem" }}
          - name: FLEET_FILESYSTEM_STATUS_LOG_FILE
            value: "/logs/{{ .Values.osquery.logging.filesystem.statusLogFile }}"
          {{- end }}
          {{- if eq .Values.osquery.logging.resultPlugin "filesystem" }}
          - name: FLEET_FILESYSTEM_RESULT_LOG_FILE
            value: "/logs/{{ .Values.osquery.logging.filesystem.resultLogFile }}"
          {{- end }}
          {{- if or (eq .Values.osquery.logging.statusPlugin "filesystem") (eq .Values.osquery.logging.resultPlugin "filesystem") }}
          - name: FLEET_FILESYSTEM_ENABLE_LOG_ROTATION
            value: "{{ .Values.osquery.logging.filesystem.enableRotation }}"
          - name: FLEET_FILESYSTEM_ENABLE_LOG_COMPRESSION
            value: "{{ .Values.osquery.logging.filesystem.enableCompression }}"
          {{- end }}
          ## END OSQUERY SECTION
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop: [ALL]
          privileged: false
          readOnlyRootFilesystem: true
          {{- if .Values.fleet.securityContext.runAsGroup }}
          runAsGroup: {{ int64 .Values.fleet.securityContext.runAsGroup }}
          {{- end }}
          {{- if .Values.fleet.securityContext.runAsUser }}
          runAsUser: {{ int64 .Values.fleet.securityContext.runAsUser }}
          {{- end }}
          {{- if .Values.fleet.securityContext.runAsNonRoot }}
          runAsNonRoot: {{ .Values.fleet.securityContext.runAsNonRoot }}
          {{- end }}
        livenessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.fleet.listenPort }}
            {{- if .Values.fleet.tls.enabled }}
            scheme: HTTPS
            {{- end }}
        readinessProbe:
          httpGet:
            path: /healthz
            port: {{ .Values.fleet.listenPort }}
            {{- if .Values.fleet.tls.enabled }}
            scheme: HTTPS
            {{- end }}
        volumeMounts:
          - name: tmp
            mountPath: /tmp
          {{- if .Values.fleet.tls.enabled }}
          - name: fleet-tls
            readOnly: true
            mountPath: /secrets/tls
          {{- end }}
          {{- if .Values.database.tls.enabled }}
          - name: mysql-tls
            readOnly: true
            mountPath: /secrets/mysql
          {{- end }}
          {{- if or (eq .Values.osquery.logging.statusPlugin "filesystem") (eq .Values.osquery.logging.resultPlugin "filesystem") }}
          - name: osquery-logs
            mountPath: /logs
          {{- end }}
      hostPID: false
      hostNetwork: false
      hostIPC: false
      serviceAccountName: fleet
      volumes:
        - name: tmp
          emptyDir:
        {{- if .Values.fleet.tls.enabled }}
        - name: fleet-tls
          secret:
            {{- if .Values.fleet.tls.uniqueTLSSecret }}
            secretName: "{{ .Values.fleet.tls.secretName }}"
            {{- else }}
            secretName: "fleet"
            {{- end }}
        {{- end }}
        {{- if .Values.database.tls.enabled }}
        - name: mysql-tls
          secret:
            secretName: "{{ .Values.database.secretName }}"
        {{- end }}
        {{- if or (eq .Values.osquery.logging.statusPlugin "filesystem") (eq .Values.osquery.logging.resultPlugin "filesystem") }}
        - name: osquery-logs
          emptyDir:
            sizeLimit: "{{ .Values.osquery.logging.filesystem.volumeSize }}"
        {{- end }}
